<div class="edit_form">
  <%= form_with model: item, local: true do |f| %>
    <th scope="row"><%= f.text_field :name, value: item.name %>
    <th scope="row"><%= f.text_field :description, value: item.description %>
    <th scope="row"><%= f.collection_select :warehouse_id, Warehouse.order(:name),:id,:name, include_blank: true , value: item.warehouse_id %><br><br>
    <th scope="row"><%= f.submit "Update Item", method: :update  %>
  <% end %>
</div>
