<center>
  <h1>ALL ITEMS</h1>
  <%= link_to "Sort A-Z", items_path, method: :get %><br>
  <%= link_to "Sort by Warehouse", "/items?sort=warehouse", method: :get %><br><br>
  <div class="table_style">
    <table class="table">
      <thead class= 'thead-dark'>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Warehouse</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <% if params[:edit] && (item.id == params[:id].to_i) %>
            <%= render partial: 'midtable_edit', locals: {item: item }%>
          <% else %>
            <th scope="row"><%= item.name %></th>
            <th scope="row"><%= item.description %></th>
            <% if item.warehouse.nil? %>
              <%= form_with model: item, action: 'patch', local: true do |f| %>
                  <th scope="row"><%= f.collection_select :warehouse_id, Warehouse.order(:id), :id,:name,include_blank: false %>
                                  <%= button_to "Assign" %></th>
              <% end %>
            <% else %>
              <th scope="row"><%= item.warehouse.name %></th>
            <% end %>
              <th scope="row"><%= button_to "Edit", edit_item_path(item), method: :get %></th>
              <th scope="row"><%= button_to "Delete", item_path(item), method: :delete %></th>
          <% end %>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <h4> CREATE NEW ITEM </h4>
    <%= form_with model: Item.new , local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :warehouse %>
    <%= f.collection_select :warehouse_id, Warehouse.order(:name),:id,:name, include_blank: true %>
    <%= f.submit "Create Item" %>
  <% end %>
