<center>
  <h1>ALL WAREHOUSES</h1>
  <div class="table_style">
    <table class="table">
      <thead class= 'table-dark'>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        <% @warehouses.each do |warehouse| %>
        <tr>
            <th scope="row"><%= link_to "#{warehouse.name}", warehouse_path(warehouse), method: :get %></th>
            <th scope="row"><%= warehouse.location %></th>
        <%end%>
      </tbody>
    </table>
  </div>
  <h4> CREATE NEW WAREHOUSE </h4>
    <%= form_with model: Warehouse.new, local: true do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name%>
        <%= f.label :location %>
        <%= f.text_field :location %>
        <%= f.submit "Create Warehouse" %>
    <% end %>
</center>
